@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Schibsted+Grotesk:wght@400;600&display=swap');

/* RESET */
html {
    box-sizing: border-box;
    scrollbar-color: black #c1dbe3;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* BODY */
body {
    background-color: #c1dbe3;
    margin: 20px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: medium;
    font-size: 30px;
}

/* NAV */
nav {
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    padding: 20px 0;
    font-size: 70px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* HEADINGS */
h1 {
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 47px;
    margin-bottom: 10px;
    line-height: 0;
}

/* ROW LAYOUT */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 7px solid black;
}

/* COLUMN */
.col {
    flex: 1;
}

/* IMAGE */
.image-col {
    border-left: 7px solid black;
    padding-left: 20px;
    display: flex;
}

.image-col img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* OTHER */
.container {
    border-left: 7px solid black;
    padding-left: 20px;
}

.email {
    border-bottom: 7px solid black;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

/* LINKS */
a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}